* {
    font-family: 'Press Start 2P', cursive;
    color: rgb(160, 160, 160);
    font-size: 2vh;

}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 2vh;
}

p {
    margin-top: 3vh;
}

span {
    margin-top: 3vh;
}

body {
    background-color: rgb(30, 30, 30);
}

.container {
    justify-content: center;
    display: flex;
}

.rightColumn {
    margin-left: 2vw;
    margin-top: 9.5vh;
    margin-right: 4vw;
}

.rightColumn h2 {
    font-size: 2.5vh;
}

.data {
    margin-top: 4.5vh;
}

.grid {
    height: 88vh;
    width: 40vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-left: 2vw;
    position: relative;
    background-color: rgb(42, 42, 42);
}

.grid :not(.topSquare, .detector) {
    height: 3.84vh;
    width: 3.82vh;
    border-bottom: 0.2vh solid rgb(160, 160, 160);
    border-right: 0.2vh solid rgb(160, 160, 160);
}

.grid::before {
    content: " ";
    left: -0.35vh;
    position: absolute;
    width: 39.8vh;
    height: 87.8vh;
    border: 0.4vh solid rgb(160, 160, 160);
}

.grid::after {
    content: " ";
    top: 7.8vh;
    position: absolute;
    width: 39.85vh;
    height: 8vh;
    border-top: 0.4vh solid rgb(172, 48, 48);
}

.grid .detector {
    border-top: 0vh;
    border-left: 0vh;
}

.grid .topSquare {
    border-bottom: 0.2vh solid rgb(69, 69, 69);
    border-right: 0.2vh solid rgb(69, 69, 69);
    height: 3.84vh;
    width: 3.82vh;
}

#hold {
    margin-left: 0.4vh;
}

.hold-grid {
    width: 14vh;
    height: 7vh;
    flex-wrap: wrap;
    display: flex;
}

.hold-grid div {
    height: 3.5vh;
    width: 3.5vh;
}

#next {
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.preview-grid {
    width: 14vh;
    height: 7vh;
    flex-wrap: wrap;
    display: flex;
}

.preview-grid div {
    height: 3.5vh;
    width: 3.5vh;
}

.pieceGray {
    background-color: rgb(100, 100, 100) !important;
}

.pieceOrange {
    background-color: rgb(255, 169, 9) !important;
}

.pieceBlue {
    background-color: rgb(88, 88, 255) !important;
}

.pieceGreen {
    background-color: rgb(189, 238, 117) !important;
}

.pieceRed {
    background-color: rgb(223, 81, 81) !important;
}

.piecePurple {
    background-color: rgb(143, 42, 143) !important;
}

.pieceYellow {
    background-color: rgb(240, 240, 99) !important;
}

.pieceLightBlue {
    background-color: rgb(129, 224, 255) !important;
}

#play-button:hover {
    background-color: rgb(0, 120, 0);
}

#tooltip {
    margin-bottom: 8vh;
}

#tooltip p {
    font-size: 1.5vh;
}

.leftColumn {
    margin-top: 8vh;
}

#controls {
    margin-top: 12vh;
}

#leftColumn {
    text-align: start;
    float: left;
}

#rightColumn {
    text-align: end;
    float: left;
    margin-left: 3vw;
}

#play-button {
    background-color: rgb(0, 80, 0);
    font-size: 3vh;
    padding: 2vh 4vh;
    cursor: pointer;
    margin-top: 46vh;
}
