* {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    color: rgb(160, 160, 160);
    font-size: 60px;
}

h2 {
    color: rgb(160, 160, 160);
}

body {
    background-color: rgb(30, 30, 30);
}

.container {
    display: flex;
}

.info {
    margin-left: 40px;
    margin-top: 10px;
}

.data {
    margin-top: 40px;
}

.grid {
    width: 410px;
    height: 820px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40%;
    background-color: rgb(42, 42, 42);
    border-top: 1px solid rgb(160, 160, 160);
    border-left: 1px solid rgb(160, 160, 160);
    border-right: 2px solid rgb(160, 160, 160);
    border-bottom: 2px solid rgb(160, 160, 160);
}

.grid .detector {
    border-top: 0px solid rgb(160, 160, 160);
    border-left: 0px solid rgb(160, 160, 160);
}

.grid div {
    height: 40px;
    width: 40px;
    border-top: 1px solid rgb(160, 160, 160);
    border-left: 1px solid rgb(160, 160, 160);
}

#hold {
    margin-top: 150px;
    margin-left: 2px;
}

.hold-grid {
    width: 160px;
    height: 80px;
    flex-wrap: wrap ;
    display: flex;
}

.hold-grid div {
    height: 40px;
    width: 40px;
}

#next {
    margin-top: 40px;
    margin-left: 2px;
}

.preview-grid {
    width: 160px;
    height: 80px;
    flex-wrap: wrap ;
    display: flex;
}

.preview-grid div {
    height: 40px;
    width: 40px;
}

.pieceOrange {
    background-color: rgb(255, 169, 9);
}

.pieceBlue {
    background-color: rgb(88, 88, 255);
}

.pieceGreen {
    background-color: rgb(189, 238, 117);
}

.pieceRed {
    background-color: rgb(223, 81, 81);
}

.piecePurple {
    background-color: rgb(143, 42, 143);
}

.pieceYellow {
    background-color: rgb(240, 240, 99);
}

.pieceLightBlue {
    background-color: rgb(129, 224, 255);
}

#play-button {
    background-color: rgb(0, 80, 0);
    color: rgb(160, 160, 160);
    font-size: 20px;
    padding: 20px 40px;
    cursor: pointer;
    margin-top: 124px;
}

#play-button:hover {
    background-color: rgb(0, 120, 0);
}
